[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
ptvsd = "*"
psycopg2-binary = "*"
django-model-utils = "*"
django-jet = "*"
django-colorful = "*"
django-admin-rangefilter = "*"

[requires]
python_version = "3.7"
