{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}


<!-- Render the rest of the ChangeList view by calling block.super -->
{{ block.super }}


<b/>
<h2>Charts</h2>

<canvas id="categories" width="1200" height="900" style="float:left"></canvas>
<canvas id="incomes-expenses" width="600" height="900"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js"></script>
<script>
var ctx = document.getElementById('categories').getContext('2d');
var ctx2 = document.getElementById('incomes-expenses').getContext('2d');
var category_data = {{ category_data|safe }};
var labels = Array.from(category_data, x => x.category__name);
var values = Array.from(category_data, x => x.amount__sum);
var colors = Array.from(category_data, x => x.category__color);
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            label: 'amount',
            data: values,
            backgroundColor: colors
        }]
    },
    options: {
        responsive: false,
    }
    });


    // chart incomes expenses
    var income_expenses = {{ income_expenses|safe }};
    var labels = Array.from(income_expenses, x => x.direction);
    var values = Array.from(income_expenses, x => x.amount__sum);
    var colors = ['#f54542', '#21a34e']
    var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'amount',
            data: values,
            backgroundColor: colors
        }]
    },
    options: {
        responsive: false,
    }
    });

</script>


{% endblock %}